<!DOCTYPE html>
<html>
<head lang="pl">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Geodotkowe quizy</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/quizzes.css" charset="utf-8">

</head>
<body>

	<header>
		<nav>
			<a href="{% url 'recipes:recipes' %}" class="nav-selected">Przepisy</a>
		</nav>
	</header>

	<main>
		<section class="banner">
			longerkowe przepisy <i class="material-icons cake">cake</i>
		</section>
		{% block content %}{% endblock %}
	</main>

	<footer>
		copyright by looongier {% now 'Y' %}
	</footer>

	<script type="text/javascript" src="{{ STATIC_URL }}js/shared/lazy_load_images.js"></script>
</body>
</html>
