{% extends "quizzes/base.html" %}


{% block content %}

	<section class="quizzes">
		<h2>Upiecz ciacho</h2>
		<h3><a href="{% url 'recipes:dialect' %}" class="nav-selected">kliknij tu, coby wejsc w gware</a></h3>
		<h2>Quizy</h2>
		{% for quiz in recipes %}
			<section>
				<h3><a href="{% url 'recipes:quiz' quiz.id %}">{{ quiz.added_at|date:"d.m.Y" }} {{ quiz.name }}</a></h3>
				<article>
					{{ quiz.short }}
				</article>
			</section>
		{% endfor %}
		<h3><a href="{% url 'recipes:quiz' 1 %}">{{ quiz.added_at|date:"d.m.Y" }} {{ quiz.name }}</a></h3>
	</section>
{% endblock %}
