{% extends "recipes/base.html" %}


{% block content %}
	<section class="quiz">
		<h2>{{ recipe.name }}</h2>
		<h4 style="text-align:center">czas przygotowania: {{ recipe.short }} minut</h4>
		{{ recipe.description|safe }}
		{% if recipe.photos.count %}
			<section class="photos">
				{% for photo in recipe.photos.all %}
					<div class="photo">
						<img src="" data-src="{{ photo.photo.url }}">
						{% if photo.description %}
							<p>{{ photo.description|default_if_none:'' }}</p>
						{% endif %}
					</div>
				{% endfor %}
			</section>
		{% endif %}
	</section>
{% endblock %}
