{% extends "recipes/base.html" %}
{% block title %}{{ recipe.name }} - Longerkowe przepisy{% endblock %}

{% block content %}
	<section class="quiz">
		<h2>{{ recipe.name }}</h2>
		<h4>czas przygotowania: <font size="+2">{{ recipe.preparation_before }}</font></h4>
		<h4>czas gotowania: <font size="+2">{{ recipe.short }} </font>minut</h4>
		<br>
		<h3>składniki na {{ recipe.how_much }}:</h3>
		{{ recipe.ingredients|safe }}
		<br>
		{{ recipe.description|safe|linebreaks }}
		{% if recipe.photos.count %}
			<section class="photos">
				{% for photo in recipe.photos.all %}
					<div class="photo">
						<img src="" data-src="{{ photo.photo.url }}">
						{% if photo.description %}
							<p>{{ photo.description|default_if_none:'' }}</p>
						{% endif %}
					</div>
				{% endfor %}
			</section>
		{% endif %}
	</section>
{% endblock %}
