a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

p {
	text-align: justify;
	text-indent: 20px;
}

ul {
  margin: 0;

}
ul.ingredients {
  list-style-type: none;
}

ul.ingredients > li {
  text-indent: -5px;
}

ul.ingredients > li:before {
  content: "-";
  text-indent: -5px;
}

ul.przepis {

}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: #a;
    background-image: url("/static/images/watercolor.jpg");
    background-attachment: fixed;
	position: relative;
}

header {
	padding: 10px;
	background-color: rgba(56, 9, 53, 0.7);
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	box-shadow: 0 2px 10px #fff;
}

strong {
  font-weight: bold;
  font-size: 18px;
}

h4{
  font-weight: bold;
  text-align: center;
}


nav a:hover {
/*	color: rgb(208, 171, 245);
*/
color: #d53bf3;
}

a:hover {
color: black;
}


nav a {
	font-size: 18px;
	text-transform: uppercase;
	min-width: 200px;
	margin: 0 50px;
}

.nav-selected {
	border-bottom: solid 1px;
}

main {
	width: 80%;
	margin: 45px auto 0 auto;
}

footer {
	background-color: rgba(56, 19, 53, 0.7);
	font-size: 16px;
	bottom: 0;
	height: auto;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

.banner {
	font-size: 70px;
	font-family: 'Caveat', cursive;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
}

.banner .cake {
	font-size: 50px;
}

.ingredients
{
    font-size: 16px;
    list-style-type: circle;
}

.photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.photo {/*
	margin: 20px;
	width: 400px;
	text-align: center;


    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
*/
    }

.photo img {/*
	max-height: 300px;
	max-width: 400px;
	height: auto;
	border: 5px solid #ffffff;
	margin-bottom: 10px;
*/
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.photo p {
	font-size: 15px;
	text-align: center;
	margin: 0;
	color: #ffffff;
}

.quiz h2, .quizzes h2 {
	text-align: center;
}

.quiz h3 {
    text-align: left;
}

.quiz li {
	margin: 10px;
	text-align: justify;
}

.quiz a {
	color: #f79340;
}

.gwara {
	display: flex;
	margin-bottom: 30px;
}

.gwara ul {
	width: 300px;
}

.gwara li {
	background-color: #ffffff;
	color: rgba(56, 9, 53, 0.7);
	padding: 5px;
	height: 30px;
	width: 280px;
	margin: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#values li, #ready-values li {
	width: 400px;
}

.gwara button {
	width: 290px;
	height: 50px;
	margin: 10px;
	background-color: rgb(208, 171, 245);
	border-radius: 15px;
	outline: none;
}

.gwara button::-moz-focus-inner {
	border: none;
}


@media (max-width: 1025px) {

	body {
		font-size: 15px;
	}

	h3 {
		margin: 5px 0;
	}

	header {
		padding: 8px;
		box-shadow: 6px 2px 6px #585858;
	}

	nav a {
		font-size: 16px;
		min-width: 120px;
		margin: 0 30px;
	}

	main {
		width: 90%;
		margin: 35px auto 0 auto;
	}

	footer {
		padding: 7px;
		font-size: 15px;
	}

	.material-icons {
		font-size: 15px;
	}

	.banner {
		font-size: 45px;
		margin-bottom: 5px;
	}

	.banner .cake {
		font-size: 30px;
	}

	.photo {
        margin: 12px;*/
	}

	.photo img {/*
		height: auto;
		margin-bottom: 7px;
		border: 3px solid #fff;
	*/
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
	}

	.photo p {
		font-size: 14px;
	}

}


@media (max-width: 480px) {
	p {
		margin: 5px 0;
	}

	body {
		font-size: 14px;
	}

	header {
		padding: 5px;
		box-shadow: 5px 2px 8px #585858;
	}

	nav {
		padding: 3px;
	}

	nav a {
		font-size: 14px;
		min-width: 70px;
		margin: 0 10px;
	}

	main {
		width: 90%;
		margin: 33px auto 0 auto;
	}

	footer {
		padding: 5px;
		font-size: 14px;
	}

	.material-icons {
		font-size: 13px;
	}

	.banner {
		font-size: 30px;
		margin-bottom: 5px;
	}

	.banner .cake {
		font-size: 20px;
	}

	.photo {
		margin: 5px;
		width: 300px;
	}

	.photo img {
		max-height: 225px;
		max-width: 300px;
		height: auto;
		margin-bottom: 5px;
		border: 2px solid #fff;
	}

	.photo p {
		font-size: 13px;
	}

}


@media (min-width: 1281px) {
	nav {
		width: 60%;
		margin: 0 auto;
	}

	main {
		width: 60%;
	}
}
